body {
    background-repeat: no-repeat;
    background-image: url( "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbu9dPE%2Fbtq0vO57IWO%2FmxOd7rzXaLtaDgwgIZCVIk%2Fimg.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}

#header {
    margin-top: 10%;
}

#weather {
    font-size: 20px;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}

#clock {
    margin-top: 5%;
    font-size: 40px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}